@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inconsolata:wght@200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
}

body{
    background-color: #F5ECD9;
}

header{
    width: 100%;
    height: 90px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    color: white;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 50px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    gap: 40px 30px;
}

.books{
    width: 22%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.books img{
    width: 200px;
    height: 250px;
    border-radius: 20px;
}

.books a{
    color: brown;
    font-weight: bold;
    font-size: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 15, 15);
    color: white;
    margin-top: 50px;
    padding: 50px 0 20px 50px;
}

footer h1{
    font-size: 20px;
}

footer li a{
    font-size: 15px;
    color: white;
    line-height: 3;
}